# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and virtual environments
.ipynb_checkpoints/
.virtual_documents/
.env
.venv
env/
venv/
ENV/

# Model checkpoints & Large weights
*.bin
*.safetensors
*.pt
*.pth
*.onnx
checkpoints/
adaptation_output/
downloaded_outputs/

# Kaggle & API Secrets
kaggle.json
ngrok.token
*.key
*.pem

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
